<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.tsg.foodMenu.mapper.FoodMenusMapper">

    <!-- 开启二级缓存 -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ink.tsg.foodMenu.beans.FoodMenus">
        <id column="menu_id" property="menuId" />
        <result column="food_name" property="foodName" />
        <result column="food_material" property="foodMaterial" />
        <result column="old_price" property="oldPrice" />
        <result column="new__price" property="newPrice" />
        <result column="food_img" property="foodImg" />
        <result column="is_show" property="isShow" />
        <result column="create_time" property="createTime" />
        <result column="food_state" property="foodState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, food_name, food_material, old_price, new__price, food_img, is_show, create_time, food_state
    </sql>

</mapper>
